html,
body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 20px;
}

.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  li {
    margin: 13px;
    margin-top: 64px;
    margin-bottom: 80px;
  }
  button {
    background-color: #fff;
    border: 2px solid #000000;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    padding: 0;
    font-size: 0;
    cursor: pointer;
  }
  li.slick-active {
    button {
      background-color: #e1c795;
      width: 13px;
      height: 13px;
    }
  }
}

.prev,
.next {
  position: absolute;
  top: 30%;
  height: 85px;
  width: 60px;
  z-index: 1;
  cursor: pointer;
}

.next {
  right: 10%;
}

.prev {
  left: 10%;
}
