// @media (max-width: 2500px) {
//   .header {
//     &__inner {
//       min-height: 70vh;
//     }
//   }
// }

@media (max-width: 1450px) {
  .menu {
    &__list {
      margin-left: 100px;
    }
    &__list-item {
      margin-right: 100px;
    }
  }
}

@media (max-width: 1250px) {
  .about {
    &__content-title {
      margin-bottom: 20px;
      text-align: center;
    }
    &__item {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
    }
    &__item:nth-child(odd) {
      flex-direction: column;
      margin: 0 auto;
    }
    &__img {
      margin-bottom: 20px;
    }
    &__list-item {
      padding-bottom: 20px;
    }
    &__content {
      text-align: center;
      margin: 0 auto;
    }
  }
  .team {
    &__title {
      padding: 80px 0px 25px;
    }
    &__items {
      padding-bottom: 18px;
      margin: 0 auto;
      min-width: 350px;
      max-width: 900px;
    }
    &__item {
      padding: 15px;
      &:nth-child(1) {
        position: relative;
        top: 0px;
        margin-right: 0px;
      }
      &:nth-child(2) {
        position: relative;
        top: 0px;
      }
      &:nth-child(3) {
        margin-right: 0px;
      }
      &:nth-child(4) {
        position: relative;
        top: 0px;
      }
    }
  }
}
@media (max-width: 1080px) {
  .menu {
    &__list {
      margin-left: 80px;
    }
    &__list-item {
      margin-right: 85px;
    }
  }
  .instrument {
    &__img {
      max-width: 45%;
    }
  }
  .master,
  .midl,
  .top,
  .design,
  .extra {
    &__item {
      margin: 0 auto;
    }
    &__manicure-items {
      margin: 0 auto;
    }
    &__manicure {
      margin-right: 0;
      margin-bottom: 25px;
    }
    &__goods {
      flex-direction: column;
      margin: 0 auto;
      padding-bottom: 45px;
    }
  }
}

@media (max-width: 960px) {
  .footer__menu li:first-child {
    margin-left: 0px;
  }
  .menu {
    &__img {
      max-height: 40px;
      margin: 0 auto;
      margin-left: 0;
    }
    &__h1 {
      font-size: 18px;
      line-height: 45px;
    }
    &__btn {
      background-color: transparent;
      border: none;
      display: block;
      width: 40px;
      z-index: 20;
      cursor: pointer;
      padding: 0;
      position: absolute;
      right: 20px;
      top: 16px;
      height: 20px;

      span {
        display: block;
        height: 2px;
        background-color: rgb(255, 255, 255);
        position: relative;
        &::before,
        &::after {
          content: "";
          opacity: 10;
          width: 40px;
          height: 2px;
          background-color: rgb(255, 255, 255);
          position: absolute;
          left: 0;
        }
        &::before {
          top: -10px;
        }
        &::after {
          top: 10px;
        }
      }
    }
    &__list {
      transform: translateY(-150%);
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background-color: rgba(241, 241, 241, 0.98);
      width: 100%;
      height: 35%;
      text-align: center;
      margin: 0 auto;
      transition: all 0.7s ease-in-out;
      &.active {
        transform: translateY(0%);
        padding: 25px;
      }
    }
    &__link {
      display: block;
      @extend %text-font;
      color: $default;
      font-size: 16px;
      line-height: 29px;
      font-weight: 600;
      &:hover {
        color: rgb(230, 230, 230);
      }
    }
    &__list-item {
      margin-right: 0;
      margin: 0 auto;
      padding: 1px 0;
    }
  }
  .about {
    &__img {
      max-height: 400px;
      max-width: 500px;
      margin: 0 auto;
    }

    &__img:nth-child(odd) {
      margin: 0 auto;
    }

    &__content {
      margin: 0 auto;
    }
    &__content-title {
      padding-top: 20px;
      text-align: center;
    }
    &__content-text {
      text-align: center;
    }
    &__item {
      display: block;
    }
  }
  .instrument {
    &__title {
      padding-top: 35px;
      padding-bottom: 35px;
    }
  }

  .works {
    .prev,
    .next {
      display: none !important;
    }
  }
}

@media (max-width: 850px) {
  .instrument {
    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &__list {
      margin: 0 auto;
    }
    &__img {
      padding-top: 20px;
      margin: 0 auto;
      max-width: 100%;
    }
  }
  .works {
    &__slider-img {
      max-width: 450px;
      max-height: 450px;
    }
  }
  .contact {
    &__title {
      padding: 35px 0 35px;
    }
    &__logo {
      width: 100%;
      height: 210px;
      img {
        margin: 0 auto;
        max-width: 50%;
      }
    }
    &__content {
      flex-direction: column;
    }
    &__items {
      font-size: 19px;
      line-height: 26px;
      margin-left: 40px;
    }
    &__list {
      margin: 0 auto;
    }
    &__item-social {
      right: -13px;
      padding-bottom: 20px;
    }
  }
  .master,
  .midl,
  .top,
  .design,
  .extra {
    &__text {
      width: 350px;
      margin: 0 auto;
    }
    &__item {
      text-align: center;
    }
  }
}

@media (max-width: 590px) {
  h1 {
    font-size: 28px;
    line-height: 30px;
  }
  h2 {
    font-size: 18px;
    line-height: 28px;
  }
  .header {
    &__biglogo-img {
      max-width: 66%;
      margin-bottom: 75px;
    }
    &__title {
      min-width: 365px;
      max-width: 450px;
    }
  }
  .about {
    &__img {
      max-height: 300px;
      max-width: 400px;
      margin: 0 auto;
    }
  }
  .service {
    h2 {
      top: 10px;
      left: 20px;
    }
  }

  .instrument {
    &__list {
      max-width: 330px;
    }
    &__text {
      margin: 0 auto;
      max-width: 335px;
      font-size: 15px;
      line-height: 22px;
    }
    &__img {
      max-width: 85%;
    }
  }

  .price {
    &__item {
      font-size: 18px;
      line-height: 25px;
      padding-bottom: 29px;
      &::after {
        width: 280px;
      }
    }
  }
  .prices {
    &__text {
      width: 370px;
      font-size: 14px;
      line-height: 20px;
    }
    &__title {
      padding: 60px 0px 35px;
    }
    p:last-child {
      padding-bottom: 35px;
    }
  }
}

@media (max-width: 500px) {
  .master,
  .midl,
  .top,
  .design,
  .extra {
    .right::after {
      width: 360px;
    }
    &__item {
      font-size: 14px;
      line-height: 22px;
      &::after {
        width: 360px;
      }
    }
  }
  .service {
    &__items {
      display: flex;
      flex-direction: column;
    }
  }
  .about {
    &__content {
      max-width: 300px;
    }
    &__content-title {
      font-size: 18px;
      max-width: 250px;
      margin: 0 auto;
    }
    &__list-item {
      max-width: 250px;
      margin: 0 auto;
      padding-bottom: 12px;
    }
  }

  .instrument {
    &__text {
      width: 270px;
      font-size: 14px;
      line-height: 20px;
    }
    &__img {
      max-width: 80%;
    }
    &__list-item {
      max-width: 200px;
      margin: 0 auto;
      padding-bottom: 12px;
    }
  }
  .works {
    &__title {
      padding: 30px 0 30px;
    }
    &__slider-img {
      max-width: 300px;
    }
    .slick-dots {
      li {
        margin: 13px;
        margin-top: 30px;
        margin-bottom: 35px;
      }
    }
  }
  .price {
    &__title {
      padding: 35px 0px 35px;
    }
  }

  .contact {
    &__title {
      padding: 35px 0 35px;
    }
    &__logo {
      height: 170px;
      img {
        margin: 0 auto;
        max-width: 60%;
      }
    }
    &__items {
      font-size: 18px;
      line-height: 24px;
      margin-left: 40px;
    }
  }
  .master,
  .midl,
  .top,
  .design,
  .extra {
    &__item {
      width: 350px;
    }
    .right::after {
      width: 300px;
    }
    &__item {
      &::after {
        width: 300px;
      }
    }
  }
}

@media (max-width: 420px) {
  .header {
    &__biglogo-img {
      margin-bottom: 55px;
    }
    &__title {
      font-size: 23px;
      line-height: 25px;
      min-width: 250px;
      max-width: 350px;
    }
    &__btn {
      min-width: 200px;
    }
  }
  .footer {
    p {
      font-size: 11px;
      line-height: 20px;
    }
  }

  .team {
    &__items {
      min-width: 255px;
    }
    &__item {
      padding: 15px;
      &:nth-child(1) {
        position: relative;
        top: 0px;
        margin-right: 0px;
      }
      &:nth-child(2) {
        position: relative;
        top: 0px;
        height: 50%;
      }
      &:nth-child(3) {
        margin-right: 0px;
      }
      &:nth-child(4) {
        position: relative;
        top: 0px;
      }
    }
  }

  .prices {
    &__text {
      width: 320px;
      font-size: 14px;
      line-height: 19px;
    }
    &__title {
      padding: 35px 0px 30px;
    }
  }
}

@media (max-width: 395px) {
  .master,
  .midl,
  .top,
  .design,
  .extra {
    &__text {
      width: 320px;
      font-size: 14px;
    }
    &__item {
      width: 320px;
      font-size: 13px;
    }
    .right::after {
      width: 280px;
    }
    &__item {
      &::after {
        width: 280px;
      }
    }
  }
  .contact {
    .geo::before {
      top: 4px;
    }
    .time::before {
      top: -11px;
    }
    .phone::before {
      top: -11px;
    }
    &__item-social {
      padding-top: 15px;
    }
    &__title {
      padding: 35px 0 35px;
    }
    &__logo {
      height: 170px;
      img {
        margin: 0 auto;
        max-width: 70%;
      }
    }
    &__items {
      font-size: 17px;
      line-height: 23px;
    }
  }
}
