@import "vars";
@import "fonts";
@import "reset";
// @import "libs";
@import "global";

h1 {
  @extend %title-font;
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
  color: $default;
  text-align: center;
}

img {
  max-width: 100%;
  filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.25));
  object-fit: cover;
}

.header {
  background-image: url(../images/header_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__inner {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  &__top-name {
    padding: 5px 0 5px;
  }
  &__top {
    background: rgba(3, 3, 3, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__content {
    text-align: center;
  }
  &__biglogo-img {
    margin: 0 auto;
    align-items: center;
    margin-top: 56px;
    margin-bottom: 115px;
  }
  &__title {
    @extend %title-font;
    color: $default;
    font-size: 36px;
    line-height: 46px;
    font-weight: 500;
    min-width: 460px;
    max-width: 570px;
    margin-bottom: 80px;
    text-align: center;
    align-items: center;
  }
  &__btn {
    @extend %text-font;
    min-width: 254px;
    height: 54px;
    background: $default;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border: none;
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 80px;
    cursor: pointer;
    transition: 1s;
    &:hover {
      background-color: #fffbfa;
      color: $default;
      opacity: 0.89;
    }
  }
}

.menu {
  &__list {
    display: flex;
    margin-left: 224px;
  }

  &__list-item {
    margin: 0 auto;
    margin-right: 153px;
  }

  &__link {
    @extend %text-font;
    color: $white;
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
  }

  &__title {
    margin-right: 315px;
    @extend %title-font;
    color: $default;
    font-size: 28px;
    line-height: 33px;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__img {
    margin-left: 42px;
  }
}

.service {
  &__inner {
    display: flex;
    flex-direction: column;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 48px;
    grid-column-gap: 72px;
    margin-bottom: 80px;
  }
  &__item {
    position: relative;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  h2 {
    position: absolute;
    top: 30px;
    left: 40px;
    width: 100%;
  }
}

.about {
  background-color: #fcf5e9;

  &__item {
    display: flex;
    margin-bottom: 40px;
    flex-wrap: wrap;
    &:nth-child(odd) {
      flex-direction: row-reverse;
    }
    &:last-child {
      margin-bottom: 0px;
    }
  }

  &__img {
    margin-right: 50px;
    &:nth-child(odd) {
      margin-left: 75px;
    }
  }

  &__content {
    width: 452px;
    margin: auto;
  }

  &__content-title {
    @extend %title-font;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 32px;
  }
  &__list-item {
    @extend %text-font;
    color: $default;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    justify-content: space-between;
    padding-bottom: 6px;
  }
}

.instrument {
  &__title {
    padding-top: 159px;
  }
  &__content {
    display: flex;
    justify-content: center;
    margin-bottom: 61px;
  }
  &__img {
    max-width: 100%;
    filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.25));
  }
  &__list {
    width: 540px;
    margin-right: 49px;
  }
  &__text {
    @extend %text-font;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 10px;
  }
  span {
    font-weight: 700;
  }
}

.team {
  background: #fcf5e9;
  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 98px;
  }
  &__item {
    &:nth-child(1) {
      position: relative;
      top: 33px;
      margin-right: 67px;
    }
    &:nth-child(2) {
      position: relative;
      top: 55px;
    }
    &:nth-child(3) {
      margin-right: 67px;
    }
    &:nth-child(4) {
      position: relative;
      top: 100px;
    }
  }
}

// .main {
//   background-color: #fbf8f4;

//   &__description {
//     padding-top: 120px;
//     padding-bottom: 64px;
//     text-align: center;
//   }

//   &__content-title {
//     @extend %title-font;
//     color: $default;
//     font-size: 48px;
//     line-height: 57px;
//     font-weight: 600;
//     margin-bottom: 16px;
//     &:first-child {
//       margin-bottom: 34px;
//     }
//   }

//   &__content-text {
//     @extend %text-font;
//     color: $default;
//     font-size: 16px;
//     line-height: 24px;
//     font-weight: 400;
//     &:nth-child(2) {
//       margin-bottom: 120px;
//     }
//   }

//   &__items {
//     display: flex;
//     justify-content: space-around;
//     flex-wrap: wrap;
//   }
//   &__item {
//     width: 255px;
//     &:hover {
//       background-color: #fffcf8;
//     }
//     margin-right: 30px;
//   }
//   &__list {
//     text-align: center;
//   }
//   &__list-items {
//     list-style: inside;
//     @extend %text-font;
//     color: $default;
//     font-size: 16px;
//     line-height: 24px;
//     font-weight: 400;
//     opacity: 0.7;
//   }
//   &__img {
//     margin: 0 auto;
//     padding-top: 32px;
//     padding-bottom: 8px;
//   }
//   &__title {
//     text-align: center;
//     text-transform: uppercase;
//     @extend %title-font;
//     color: $default;
//     font-size: 20px;
//     line-height: 24px;
//     font-weight: 400;
//     padding-bottom: 16px;
//   }
// }
// .content {
//   &__numbers {
//     padding-top: 165px;
//     padding-bottom: 120px;
//     display: flex;
//     justify-content: center;
//     text-align: center;
//   }
//   &__numbers-list {
//     margin-right: 35px;
//     &:nth-child(3) {
//       margin-right: 0;
//     }
//   }
//   &__numbers-title {
//     text-align: center;
//     text-transform: uppercase;
//     @extend %title-font;
//     color: $default;
//     font-size: 48px;
//     line-height: 57px;
//     font-weight: 600;
//   }
//   &__numbers-text {
//     @extend %text-font;
//     color: $default;
//     font-size: 16px;
//     line-height: 24px;
//     font-weight: 400;
//   }
// }
// .about {
//   background-color: #ecf6ff;
//   &__inner {
//     padding-top: 50px;
//   }
//   &__item {
//     display: flex;
//     padding-bottom: 16px;
//   }
//   &__img {
//     // margin-top: 117px;
//     margin-bottom: 103px;
//     border-radius: 16px;
//   }
//   &__content {
//     width: 510px;
//     margin-left: 160px;
//   }
//   &__content-title {
//     @extend %title-font;
//     color: $default;
//     font-size: 48px;
//     line-height: 57px;
//     font-weight: 600;
//     margin-bottom: 32px;
//   }
//   &__content-text {
//     @extend %text-font;
//     color: $default;
//     font-size: 16px;
//     line-height: 24px;
//     font-weight: 400;
//     margin-bottom: 44px;
//   }
//   &__content-text p {
//     margin-bottom: 8px;
//     &:nth-child(2) {
//       margin-bottom: 32px;
//     }
//   }
//   &__content-item {
//     list-style: inside;
//     @extend %text-font;
//     color: $default;
//     font-size: 16px;
//     line-height: 24px;
//     font-weight: 400;
//     margin-bottom: 12px;
//   }
// }

// .comment {
//   padding-bottom: 35px;
//   &__slider-item {
//     display: flex !important;
//     background: #ffffff;
//     border-radius: 16px;
//   }
//   &__title {
//     @extend %title-font;
//     color: $default;
//     font-size: 48px;
//     line-height: 57px;
//     font-weight: 600;
//     margin-top: 72px;
//     margin-bottom: 16px;
//     text-align: center;
//   }
//   &__subtitle {
//     @extend %text-font;
//     color: $default;
//     font-size: 16px;
//     line-height: 24px;
//     font-weight: 400;
//     text-align: center;
//     margin-bottom: 64px;
//   }

//   &__slider-info {
//     max-width: 1030px;
//     margin-left: 64px;
//   }

//   &__slider-date {
//     @extend %text-font;
//     color: #676778;
//     font-size: 14px;
//     line-height: 16px;
//     font-weight: 400;
//     margin-top: 150px;
//     margin-bottom: 16px;
//   }

//   &__slider-title {
//     @extend %title-font;
//     color: $default;
//     font-size: 24px;
//     line-height: 28px;
//     font-weight: 700;
//     margin-bottom: 25px;
//   }
//   &__slider-text {
//     max-width: 439px;
//     @extend %text-font;
//     color: $title;
//     font-size: 16px;
//     line-height: 24px;
//     font-weight: 400;
//   }
//   &__slider-img {
//     width: 423px;
//     height: 529px;
//     object-fit: cover;
//     box-shadow: 6px 4px 20px rgba(34, 43, 128, 0.05);
//     border-top-left-radius: 16px;
//     border-bottom-left-radius: 16px;
//   }
// }

// .contact {
//   background-color: #ecf6ff;
//   padding-bottom: 94px;
//   &__items {
//     display: flex;
//   }

//   &__title {
//     @extend %title-font;
//     color: $default;
//     font-size: 48px;
//     line-height: 57px;
//     font-weight: 600;
//     text-align: center;
//     padding-top: 60px;
//     margin-bottom: 52px;
//   }
//   &__info {
//     display: flex;
//     flex-direction: column;
//     margin-left: 136px;
//     margin-top: 52px;
//   }

//   &__info-title {
//     @extend %title-font;
//     color: $default;
//     font-size: 24px;
//     line-height: 28px;
//     font-weight: 700;
//     padding-bottom: 14px;
//   }
//   &__info-text {
//     @extend %text-font;
//     color: $default;
//     font-size: 16px;
//     line-height: 16px;
//     font-weight: 400;
//     margin-bottom: 40px;
//     span {
//       font-weight: 600;
//     }
//   }
// }
.footer {
  &__menu {
    padding: 18.5px;
    li:first-child {
      margin-left: 90px;
    }
  }
  &__bottom {
    display: flex;
    justify-content: center;
    background: rgba(3, 3, 3, 0.8);
  }
  &__bottom-text {
    @extend %text-font;
    font-size: 16px;
    line-height: 24px;
    color: $white;
    padding-bottom: 16px;
  }
}

.yButton {
  display: none;
}

// #button-up {
//   display: none;
//   position: fixed;
//   right: 20px;
//   bottom: 100px;
//   color: #fff;
//   background-color: rgb(0, 0, 0, 0.4);
//   text-align: center;
//   font-size: 30px;
//   padding: 15px;
//   transition: 0.3s;
// }

// #button-up:hover {
//   cursor: pointer;
//   background-color: #fd6655;
//   transition: 0.3s;
// }

// @import "media";
