@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

h1 {
  @extend %title-font;
  color: $default;
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
  text-align: center;
}
h2 {
  @extend %text-font;
  color: $default;
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 24px;
}

span {
  font-weight: 700;
}

img {
  max-width: 100%;
  filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.25));
  object-fit: cover;
}

.header {
  background-image: url(../images/header_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__inner {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  &__top-name {
    padding: 5px 0 5px;
  }
  &__top {
    background: rgba(3, 3, 3, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__content {
    text-align: center;
  }
  &__biglogo-img {
    margin: 0 auto;
    align-items: center;
    margin-top: 56px;
    margin-bottom: 115px;
  }
  &__title {
    @extend %title-font;
    color: $default;
    font-size: 36px;
    line-height: 46px;
    font-weight: 500;
    min-width: 460px;
    max-width: 570px;
    margin-bottom: 80px;
    text-align: center;
    align-items: center;
  }
  &__btn {
    @extend %text-font;
    min-width: 254px;
    height: 54px;
    background: $default;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border: none;
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 80px;
    cursor: pointer;
    transition: 1s;
    &:hover {
      background-color: #fffbfa;
      color: $default;
      opacity: 0.89;
    }
  }
}

.menu {
  &__list {
    display: flex;
    margin-left: 224px;
  }

  &__list-item {
    margin: 0 auto;
    margin-right: 153px;
  }

  &__link {
    @extend %text-font;
    color: $white;
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
  }

  &__title {
    margin-right: 315px;
    @extend %title-font;
    color: $default;
    font-size: 28px;
    line-height: 33px;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__img {
    margin-left: 42px;
  }
}

.service {
  &__inner {
    display: flex;
    flex-direction: column;
  }
  &__title {
    margin: 80px 0px 64px;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 48px;
    grid-column-gap: 72px;
    margin-bottom: 80px;
  }
  &__item {
    position: relative;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  h2 {
    position: absolute;
    top: 30px;
    left: 40px;
    width: 100%;
  }
}

.about {
  background-color: #fcf5e9;
  &__title {
    padding: 80px 0px 64px;
  }
  &__item {
    display: flex;
    margin-bottom: 40px;
    flex-wrap: wrap;
    &:nth-child(odd) {
      flex-direction: row-reverse;
    }
    &:last-child {
      margin-bottom: 0px;
    }
  }

  &__img {
    margin-right: 50px;
    &:nth-child(odd) {
      margin-left: 75px;
    }
  }

  &__content {
    width: 452px;
    margin: auto;
  }

  &__content-title {
    @extend %title-font;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 32px;
  }
  &__list-item {
    @extend %text-font;
    color: $default;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    justify-content: space-between;
    padding-bottom: 6px;
  }
}

.instrument {
  &__title {
    padding: 159px 0px 63px;
  }
  &__content {
    display: flex;
    justify-content: center;
    margin-bottom: 61px;
  }
  &__img {
    max-width: 100%;
    filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.25));
  }
  &__list {
    width: 540px;
    margin-right: 49px;
  }
  &__text {
    @extend %text-font;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 10px;
  }
}

.team {
  background: #fcf5e9;
  &__title {
    padding: 80px 0px 63px;
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 98px;
  }
  &__item {
    &:nth-child(1) {
      position: relative;
      top: 33px;
      margin-right: 67px;
    }
    &:nth-child(2) {
      position: relative;
      top: 55px;
    }
    &:nth-child(3) {
      margin-right: 67px;
    }
    &:nth-child(4) {
      position: relative;
      top: 100px;
    }
  }
}

.works {
  &__slider-item {
    display: flex !important;
    justify-content: center;
    background: #ffffff;
    border-radius: 16px;
  }
  &__title {
    padding: 80px 0px 63px;
  }

  &__slider-img {
    max-width: 518px;
    max-height: 518px;
  }
}

.price {
  background: #fcf5e9;
  display: flex;
  justify-content: center;

  &__title {
    padding: 80px 0px 64px;
  }
  &__items {
    margin-bottom: 61px;
  }
  &__item {
    @extend %text-font;
    color: $default;
    font-size: 24px;
    line-height: 36px;
    padding-bottom: 32px;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: 380px;
      height: 1px;
      background-color: #e1c795;
      top: 50px;
      right: 13px;
    }
    &:last-child {
      padding-bottom: 0;
      &::after {
        width: 0;
        height: 0;
      }
    }
  }
  &__btn {
    display: block;
    @extend %text-font;
    min-width: 160px;
    height: 40px;
    background: $default;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border: none;
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    margin: 0 auto 80px;
    cursor: pointer;
    transition: 1s;
    &:hover {
      background-color: #fffbfa;
      color: $default;
      opacity: 0.89;
    }
  }
}

.contact {
  &__title {
    padding: 80px 0px 70px;
  }
  &__content {
    display: flex;
    justify-content: center;
  }
  &__logo {
    width: 566px;
    height: 354px;
    margin-right: 199px;
  }
  &__list {
    font-size: 24px;
    line-height: 36px;
    @extend %text-font;
  }
  &__items {
    width: 233px;
    margin-bottom: 28px;
    position: relative;
  }
  .geo::before {
    position: absolute;
    content: url("../images/geo.svg");
    top: 18px;
    left: -62px;
  }
  .time::before {
    position: absolute;
    content: url("../images/time.svg");
    top: -5px;
    left: -65px;
  }
  .phone::before {
    position: absolute;
    content: url("../images/phone.svg");
    top: -5px;
    left: -65px;
  }
  img {
    filter: none;
  }

  &__item-social {
    display: flex;
    position: relative;
    top: 0;
    right: 57px;
  }
  &__items-social {
    margin-right: 24px;
  }
}

.footer {
  &__menu {
    padding: 18.5px;
    li:first-child {
      margin-left: 90px;
    }
  }
  &__bottom {
    display: flex;
    justify-content: center;
    background: rgba(3, 3, 3, 0.8);
  }
  &__bottom-text {
    @extend %text-font;
    color: $white;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    padding-bottom: 16px;
  }
}

.yButton {
  display: none;
}

.prices {
  background-image: url(../images/price_bg.jpg);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: contain;

  .back__btn {
    border: none;
    background-color: inherit;
    position: relative;
    margin-top: 16px;
    margin-left: 60px;
  }
  .back__link {
    @extend %text-font;
    color: $default;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
  }

  .back__img {
    position: relative;
    top: 20px;
    left: -43px;
  }
  &__title {
    padding: 83px 0px 48px;
  }
  &__text {
    margin: 0 auto;
    width: 497px;
    font-size: 16px;
    line-height: 24px;
    @extend %text-font;
  }
  p:not(:last-child) {
    padding-bottom: 20px;
  }
  p:last-child {
    padding-bottom: 72px;
  }
}

.master {
  background-color: #fcf5e9;
  &__title {
    padding: 72px 0px 28px;
  }
  &__text {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    padding-bottom: 36px;
  }
  &__goods {
    display: flex;
    justify-content: center;
    padding-bottom: 150px;
  }

  &__item {
    width: 400px;
    padding-bottom: 16px;
    margin-bottom: 16px;
    @extend %text-font;
    color: $default;
    font-size: 16px;
    line-height: 24px;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: 400px;
      height: 1px;
      top: 80%;
      right: 0px;
      border-bottom: 1px solid #e1c795;
    }
  }
  &__manicure {
    margin-right: 164px;
  }
  .right {
    &::after {
      position: absolute;
      content: "";
      width: 400px;
      height: 1px;
      top: 80%;
      right: 0px;
      border-bottom: 1px solid #e1c795;
    }
  }
}

.midl {
  background-image: url(../images/midl_bg.jpg);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: contain;
  &__title {
    padding: 72px 0px 28px;
  }
  &__text {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    padding-bottom: 36px;
  }
  &__goods {
    display: flex;
    justify-content: center;
    padding-bottom: 150px;
  }

  &__item {
    width: 400px;
    padding-bottom: 16px;
    margin-bottom: 16px;
    @extend %text-font;
    color: $default;
    font-size: 16px;
    line-height: 24px;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: 400px;
      height: 1px;
      top: 80%;
      right: 0px;
      border-bottom: 1px solid #e1c795;
    }
  }
  &__manicure {
    margin-right: 164px;
  }
  .right {
    &::after {
      position: absolute;
      content: "";
      width: 400px;
      height: 1px;
      top: 80%;
      right: 0px;
      border-bottom: 1px solid #e1c795;
    }
  }
}

.top {
  background-color: #fcf5e9;
  &__title {
    padding: 72px 0px 28px;
  }
  &__text {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    padding-bottom: 36px;
  }
  &__goods {
    display: flex;
    justify-content: center;
    padding-bottom: 150px;
  }

  &__item {
    width: 400px;
    padding-bottom: 16px;
    margin-bottom: 16px;
    @extend %text-font;
    color: $default;
    font-size: 16px;
    line-height: 24px;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: 400px;
      height: 1px;
      top: 80%;
      right: 0px;
      border-bottom: 1px solid #e1c795;
    }
  }
  &__manicure {
    margin-right: 164px;
  }
  .right {
    &::after {
      position: absolute;
      content: "";
      width: 400px;
      height: 1px;
      top: 80%;
      right: 0px;
      border-bottom: 1px solid #e1c795;
    }
  }
}

.extra {
  background-color: #fcf5e9;
  &__title {
    padding: 72px 0px 56px;
  }
  &__text {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    padding-bottom: 36px;
  }
  &__goods {
    display: flex;
    justify-content: center;
    padding-bottom: 150px;
  }

  &__item {
    width: 400px;
    padding-bottom: 16px;
    margin-bottom: 16px;
    @extend %text-font;
    color: $default;
    font-size: 16px;
    line-height: 24px;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: 400px;
      height: 1px;
      top: 80%;
      right: 0px;
      border-bottom: 1px solid #e1c795;
    }
  }
  &__manicure {
    margin-right: 164px;
  }
  .right {
    &::after {
      position: absolute;
      content: "";
      width: 400px;
      height: 1px;
      top: 80%;
      right: 0px;
      border-bottom: 1px solid #e1c795;
    }
  }
}

.design {
  background-image: url(../images/desing_bg.jpg);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 50%;
  &__title {
    padding: 72px 0px 56px;
  }
  &__text {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    padding-bottom: 36px;
  }
  &__goods {
    display: flex;
    justify-content: center;
    padding-bottom: 150px;
  }

  &__item {
    width: 400px;
    padding-bottom: 16px;
    margin-bottom: 16px;
    @extend %text-font;
    color: $default;
    font-size: 16px;
    line-height: 24px;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: 400px;
      height: 1px;
      top: 80%;
      right: 0px;
      border-bottom: 1px solid #e1c795;
    }
  }
  &__manicure {
    margin-right: 164px;
  }
  .right {
    &::after {
      position: absolute;
      content: "";
      width: 400px;
      height: 1px;
      top: 80%;
      right: 0px;
      border-bottom: 1px solid #e1c795;
    }
  }
  .span__price {
    text-align: right;
    float: right;
    margin-right: 10%;
  }
}

// #button-up {
//   display: none;
//   position: fixed;
//   right: 20px;
//   bottom: 100px;
//   color: #fff;
//   background-color: rgb(0, 0, 0, 0.4);
//   text-align: center;
//   font-size: 30px;
//   padding: 15px;
//   transition: 0.3s;
// }

// #button-up:hover {
//   cursor: pointer;
//   background-color: #fd6655;
//   transition: 0.3s;
// }

// @import "media";
